title: LargeRaids
email: h1210057@nushigh.edu.sg
description: >-
  Multiplayer raid experience with higher omen levels, more raiders, more waves and higher rewards!
baseurl: "/LargeRaids"
url: "https://zhenghanlee.github.io"
github_username: zhenghanlee

# Build settings
theme: minima
plugins:
  - jekyll-feed
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
